 .segment {
      background-color: #e7e7e7;
      color: #333;
      position: relative;
      height: 50%;
      width: 44.65%;
      float: left;
      margin: 2px;
      h1 {
        margin: 0;
      }
    }