.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0 8px;
  top: 0;
  left: 0;
  right: 0;
  background: #D95CFF;
  color: #fff;
  height: 54px;
}

a {
  &:hover {
    color: #F5D6FF;
  }
  &:hover, &:focus, &:visited {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
  }
}

ul {
  display: inline-block;
  list-style-type: none;
}

li {
  background: transparent;
  color: #fff;
  float: left
}