.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0 8px;
  top: 0;
  left: 0;
  right: 0;
  background: #D95CFF;
  color: #fff;
  height: 54px;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
}

a:hover {
  color:#F5D6FF;
}

ul {
  float: right;
  display: inline-block;
  list-style-type: none;
}

li {
  background: transparent;
  color: #fff;
  float: left
}